@import url("styles/header.css");

:root {
    --cor-de-fundo: #000000;
    --cinza: #363636;
    --vermelho: #690000;
    --preto: #000000;
    --fonte-principal: "Poppins";
}
body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
img {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
}
