@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #000000;
    --cinza: #363636;
    --preto: #000000;
    --vermelho: #690000;
    --vermelho-degrade: linear-gradient(92.54deg, #690000 32.49%, #ca0e0e 165.37%);
    --fonte-principal: "Poppins";
  }
  
  img {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
}


body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
