@import url("styles/header.css");

:root {
    --cor-de-fundo: #000000;
    --cinza: #363636;
}
body {
    background-color: var(--cor-de-fundo);
}
img {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
}
