.cabeçalho__menu-Tomb-Raider {
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.cabeçalho {
    background-color: var(--cinza);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    display: flex;
    align-items: center;
}
.container_imagem {
    padding: 1em;
}