hr {
    margin: 0;
}

.rodapé {
    background-color: var(--cinza);
    padding: 1em;
    text-align: center;
}
.rodapé__titulo {
    color: var(--vermelho);
    font-size: 20px;
}

.lista-rodapé {
    display: none;
}


@media screen and (min-width: 1024px) {
    .rodapé {
        display: flex;
        justify-content: space-around;
        color: var(--vermelho);
    }

    .lista-rodapé {
        display: block;
    }

    .lista-rodapé__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista-rodapé__link {
        color: var(--vermelho);
        text-decoration: none;
        margin-left: 0.6em;
    }

    .lista-rodapé__titulo {
        font-size: 14px;
        color: var(--cinza-claro);
    }

    .rodapé__titulo {
        font-size: 24px;
    }
}